<h1> Teams Edit <h1>
<div class= "container">
	<h5>Edit <%=@team.name%></h5>

	<%= render "form" %>



<p><%= link_to "All Players", :players %></p>
<br>
<p><%= link_to "All Teams", :teams%></p>
<br>
<p><a href="/league">Back Home</a></p>
</div>
