<h2> Teams Index <h2>



<div class = "team-title">
	<h5>There are currently <%= Team.count %> Teams in the Lincoln Soccer League</h5>
<div>




    </div>
  </div>
<ol>
  <% @team.each do |t| %>

    <li><a href="/teams/<%= t.id %>"><%= t.name %></a></li>
  <% end %>
</ol>
<br>
<ul>
<p><a href="/teams/new">Register a New team</a></p>
<p><a href="players/new">Register a New Player for the League</a></p>
<p><a href="/players/"> List of All Players in League</a></p>
<p><a href="/league">Back Home</a></p>
<p><a href="/reports">Interested in more information about the league?</a></p>

</ul>
