<h2> Teams Index <h2>

<div>
	<h5>You have <%= Team.count %> Teams in your League</h5>
<div>




    </div>
  </div>
<ul>
  <% @teams.each do |t| %>

    <li><a href="/teams/<%= t.id %>"><%= t.name %></a></li>
  <% end %>
</ul>
<p><a href="/teams/new">Make a New team</a></p>
<p><a href="/">Back Home</a></p>
