<h1><center> League Members </center><h1>
<style>
h1 {text-align:center;}
.list {text-align:center;
				color: black;}
a {
    color: #ECFD30;

}
a:link, a:visited {
    color: #ECFD30;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.bottom-menu  {
      display: inline-block;

}
</style>
<div class = "team-title">
	<h5>Current Team Count:   <%= Team.count %></h5>
<div>
    </div>
  </div>
<ul>
  <% @team.each do |t| %>
    <inline-block<li><a class="button" href="/teams/<%= t.id %>"><%= t.name %></a></li></inline-block<li>
  <% end %>
<p><a href="/teams/new">Register a New team</a></p>
<p><a href="players/new">Register a New Player for the League</a></p>
<p><a href="/players/"> List of All Players in League</a></p>
<p><a href="/league">Back Home</a></p>
<p><a href="/reports">Contact Us?</a></p>
</div>

