<h1><center> Current League Members </center><h1>
<style>
<style>
h1 {text-align:center;}
.list {text-align:left;
				color: black;}
a {
    color: #ECFD30;

}
a:link, a:visited {
    color: #ECFD30;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
</style>
</style>




<div class = "team-title">
	<h5>There are currently <%= Team.count %> Teams in the Lincoln Soccer League</h5>
<div>




    </div>
  </div>
<ul>
  <% @team.each do |t| %>
    <li><a class="button" href="/teams/<%= t.id %>"><%= t.name %></a></li>
  <% end %>
</ul>
<br>
<ul>
<p><a href="/teams/new">Register a New team</a></p>
<p><a href="players/new">Register a New Player for the League</a></p>
<p><a href="/players/"> List of All Players in League</a></p>
<p><a href="/league">Back Home</a></p>
<p><a href="/reports">Contact Us?</a></p>

</ul>
