<h1>Create New Team</h1>

<div class="container">
	<form action="/teams" method="post">
  <div> 
    Team Name?
    <input type="text" name="name" >
  </div>
  <div>

    <input type= "submit" value="Join the League">




	<% if flash[:alert] %>
	  <div class="flash alert">
	    <p><%= flash[:alert] %></p>
	  </div>
	<% end %>

</div>

