<body>
<h1>Lincoln Nebraska Soccer League</h1>

<div class= "list">
    <p><%= link_to "List of all Teams in the Lincoln Soccer League", :teams %></p>
</body>
		<p><a href="/reports">Interested in more information about the league?</a></p>

</div>




