<style>
h1 {text-align:center;}
.list {text-align:left;
				color: black;}
a {
    color: #ECFD30;

}
a:link, a:visited {
    background-color: #ECFD30;
    color: black;
    padding: 8px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 15px
}
</style>
<body>
<h1><font size="24">Lincoln Nebraska Soccer League</font></h1>

<div class= "list">
    <p><a><%= link_to "Current Teams", :teams %></a></p>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
		<p><a href="/reports">contact us</a></p>

</div>




