<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= "Contact Info for Interest in League" %></h1>
	<p><%= @report.team_name %><p>
	<p><%= @report.location %><p>


</body>
</html>