<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Information on Lincoln, Nebraska Soccer League <%= @user.name %></h1>
    <p>
     Here is the information on our soccer league.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>