<h1>Players edit</h1>

<div class= "container">
	<h5>Edit <%=@player.name%></h5>

	<%= render "form" %>
</div>

<p><%= link_to "All Players", :players %></p>
<p><a href="/reports">Interested in more information about the league?</a></p>
