<h1>New Player Registration</h1>

<div class="container">

	<%= render "form" %>
</div>


<p><%= link_to "All Players", :players %></p>

<br>
<p><%= link_to "All Teams", :teams %></p>
<br>
<p><a href="/league">Back Home</a></p>


