// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #990000;
  background-image: -webkit-linear-gradient(gainsboro, #357400);
  background-image: linear-gradient(gainsboro, #357400); }
  body p {
    color: #ccccff; }



.container  {
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
        font-size: 1em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	font-color :black}


.team-title {
  color: green
  ;
}




