// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #990000;
  background-image: -webkit-linear-gradient(gainsboro, #357400);
  background-image: linear-gradient(gainsboro, #357400); }
  body p {
    color: #ccccff; }



.container  {
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
        font-size: 1em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: left;
	font-color :black}


.team-title {
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  color: green;
  text-align: center;
  
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}






